<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} AgriDrone {% endblock %}</title>
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        {% load static %}
        <link rel= "stylesheet" href="{% static 'style.css' %}">
        <link rel= "stylesheet" href="{% static 'login.css' %}">
    </head>

    <body>

        <div class="navbar">
            <div class="icon">
                <h2 class="logo"><a href="/">AgriDrone</a></h2>
            </div>
        
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#service">SERVICE</a></li>
                    <li><a href="#">CONTACT</a></li>
                    <li><a href="/">LOGIN</a></li>
                    <li><a href="{% url 'register' %}">REGISTER</a></li>
                    <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                </ul>
            </div>
        </div>

        {% block content %}

        
        {% endblock %}        
    </body>

</html>